body {
  font-family: Arial, sans-serif;
  margin: 3pc;
  padding: 0;
  background: linear-gradient(
      135deg,
      rgba(147, 112, 219, 0.6),
      rgba(138, 43, 226, 0.6)
    ),
    radial-gradient(
      circle at 54% 113%,
      rgba(108, 38, 255, 0.3),
      rgba(242, 89, 255, 0)
    ),
    radial-gradient(
      circle at 28% 0,
      rgba(213, 189, 245, 0.3),
      rgba(250, 247, 254, 0)
    );
  color: #8a2be2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.title {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: fantasy;
  font-size: 3pc;
  margin: 0px;
  position: absolute;
  top: -5pc;
  left: 0px;
  width: 100%;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 30px;

  width: 50vw;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
}

input[type="text"],
input[type="password"],
#todo-input {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.signup-form,
.signin-form input {
  background-color: #fff;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #8a2be2;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #9370db;
}

#response-message {
  margin-top: 20px;
  text-align: center;
  color: #ffd700;
}

a {
  color: #ffd700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* New styles for the todo list */
#todo-list {
  list-style: none;
  padding: 0;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-bottom: 10px;
}
#todo-list li input,#todo-list li label {
  cursor: pointer;
}
#todo-list li label.active {
  text-decoration: line-through;
}
#todo-list li > div {
  display: flex;
  gap: 5px;
}
#todo-list li span:not(:last-child) {
  margin-right: 10px;
  text-transform: capitalize;
}

#todo-list li button {
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 10px;
}

#response-message a {
  color: #ffd700; /* Adjust color for better visibility */
  text-decoration: underline;
}
